.Logo{
  margin: 10px;
  padding-top: 0px;
}
.botonera{
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.retrato{
  margin: 0;
  padding-top: 15px;
}

.Espaciado{
  padding-bottom:20px;
}

.justificado{
  text-align: justify;
}

.derecha{
  text-align: right;
}
